
// colors
$royal: #00069E;

// Viewport Sizes
$mobile-width: 320px;
$wide-mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1024px;
$wide-desktop-width: 1125px;
$large-desktop-width: 1280px;
$xlarge-desktop-width: 1440px;
$xxlarge-desktop-width: 1800px;

$mobile-padding: 0 30px;
$tablet-padding: 0 70px;